#background-img{
   

    background-image: url("http://shopsmartcart.reflomsolutions.com/webimg/product2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
}


.text-cat{
    font-size: 20px;
   margin: 40px;
    
}

