#background-img{
    background-image: url('http://shopsmartcart.reflomsolutions.com/webimg/product3.jpg') !important;
    background-repeat: no-repeat;
     background-size: cover;
      background-position: center center;
      width: 100%;
      
      
     
}