/* .react-multi-carousel-item{
    width:270px !important;
}
.favicon :onhover{
    color:'red';
}







#favicon{
    position: relative;
    top: 15px;
    right: 10px;
} */
.rec-carousel-item{
    width:270px !important;
}